{% extends 'base.html' %}
{% load static %}

{% block title %} WIZI {% endblock title %}

{% block content %}

{% if company != None %}
      {% if plans|length == 0 %}
        <h1>Nao tem planos ainda ...</h1>
        <a href=" {% url 'create-plan' %} "><button type="submit" class="btn btn-success">Adicionar plano</button></a>
      {% else %}

        <section id="pricing" class="pricing">
          <div class="container" data-aos="fade-up">

            <div class="section-title">
              <h2>Os nosso serviços</h2>
            </div>

            <div class="row">
              {% for plan in plans %}

                  <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                      <div class="box">
                      <h3>{{plan.title}}</h3>
                      <h4><sup>€</sup>{{plan.price}}</span></h4>
                      <p>{{ plan.desc }}</p>
                      </div>
                  </div>
                  <a href="/plans/{{ plan.id }}/update/"><button type="submit" class="btn btn-success">Editar</button></a>
                  <a href="/plans/{{ plan.id }}/delete/"><button type="submit" class="btn btn-danger">Eliminar</button></a>
              
              {% endfor %}

          </div>
          <div class="d-flex align-items-center justify-content-center">
            <a href=" {% url 'create-plan' %} "><button type="submit" class="btn btn-success">Adicionar plano</button></a>
          </div>
        </section>
      {% endif %}
    {% else %}
      <h1>E necessario ter uma pagina para adicionar produtos</h1>
      <a href="/companies/"><button type="submit" class="btn btn-success">Gerir pagina</button></a>
    {% endif %}

{% endblock content %}



