{% load static %}

<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img src="{% static 'wizlogow.png' %}" style="width: 85px; height: 65px;"/> </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" href="/about/">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/contact/">Contacto</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-light"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            WIZI
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/separators/">Componentes</a></li>
            <li><a class="dropdown-item" href="/employers/">Empregados</a></li>
            <li><a class="dropdown-item" href="/products/">Produtos</a></li>
            <li><a class="dropdown-item" href="/plans/">Planos</a></li>
            <li><a class="dropdown-item" href="/companies/">As suas paginas</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/">MyWiz</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-light" type="submit">Procurar</button>
      </form>
      <form class="d-flex px-4" >
        {% if request.user.is_authenticated %}
              <a href=" {% url 'account_logout' %} " class="ui item">
                  Logout
              </a>
          {% else %}
          <a href="{% url 'account_login' %}" class="ui item">
                  Login
              </a>
          {% endif %}
      </form>
    </div>
  </div>
</nav>

